Source: qemu-server
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               libclass-methodmaker-perl,
               libglib2.0-dev,
               libio-multiplex-perl,
               libjson-c-dev,
               libnet-dbus-perl,
               libpve-apiclient-perl,
               libpve-cluster-perl,
               libpve-common-perl (>= 9.0.3),
               libpve-guest-common-perl (>= 5.2.2),
               libpve-network-perl,
               libpve-storage-perl (>= 9.0.7),
               libtest-mockmodule-perl,
               liburi-perl,
               libuuid-perl,
               lintian,
               perl,
               pkgconf,
               pve-cluster,
               pve-doc-generator (>= 6.2-5),
               pve-edk2-firmware-ovmf (>= 4.2025.02-3),
               pve-firewall,
               pve-ha-manager <!nocheck>,
               pve-qemu-kvm (>= 10.1~),
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: qemu-server
Architecture: any
Depends: conntrack,
         dbus,
         genisoimage,
         libclass-methodmaker-perl,
         libio-multiplex-perl,
         libjson-perl,
         libjson-xs-perl,
         libnet-dbus-perl,
         libnet-ssleay-perl,
         libpve-access-control (>= 9.0.2~),
         libpve-apiclient-perl,
         libpve-cluster-perl,
         libpve-common-perl (>= 9.0.13),
         libpve-guest-common-perl (>= 5.2.2),
         libpve-storage-perl (>= 9.0.7),
         libterm-readline-gnu-perl,
         liburi-perl,
         libuuid-perl,
         perl (>= 5.10.0-19),
         proxmox-websocket-tunnel,
         pve-cluster,
# TODO: make legacy edk2 optional (suggests) for PVE 9 and warn explicitly about it
         pve-edk2-firmware-legacy | pve-edk2-firmware (<< 4~),
         pve-edk2-firmware-ovmf (>= 4.2025.02-3),
         pve-firewall (>= 6.0.3),
         pve-ha-manager (>= 5.0.3),
         pve-qemu-kvm (>= 7.1~),
         socat,
         swtpm,
         swtpm-tools,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Recommends: libpve-network-perl (>= 0.8.3),
            proxmox-backup-file-restore (>= 2.1.9-2),
            virtiofsd,
Suggests: pve-edk2-firmware-aarch64, pve-edk2-firmware-riscv, proxmox-firewall (>= 1.1.1),
Breaks: pve-ha-manager (<< 4.0.1), pve-manager (<= 6.0-13),
Description: Qemu Server Tools
 This package contains the Qemu Server tools used by Proxmox VE
