Source: qemu-server
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~),
               libio-multiplex-perl,
               libjson-c-dev,
               libpve-common-perl (>= 5.0-42),
               libpve-guest-common-perl (>= 2.0-20),
               libpve-storage-perl,
               libtest-mockmodule-perl,
               libxml-libxml-perl,
               lintian,
               perl (>= 5.10.0-19),
               pve-cluster,
               pve-doc-generator (>= 5.3-3),
               pve-firewall,
               qemu-utils,
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: qemu-server
Architecture: any
Depends: dbus,
         genisoimage,
         libc6 (>= 2.7-18),
         libio-multiplex-perl,
         libjson-perl,
         libjson-xs-perl,
         libnet-ssleay-perl,
         libpve-access-control (>= 5.0-7),
         libpve-common-perl (>= 5.0-43),
         libpve-guest-common-perl (>= 2.0-18),
         libpve-storage-perl (>= 5.0-18),
         libpve-guest-common-perl (>= 2.0-20),
         libterm-readline-gnu-perl,
         libuuid-perl,
         libxml-libxml-perl,
         perl (>= 5.10.0-19),
         pve-cluster,
         pve-firewall,
         pve-ha-manager,
         pve-qemu-kvm (>= 2.11.1-4),
         socat,
         pve-edk2-firmware (>= 1.20181023-1),
         ${perl:Depends},
         ${shlibs:Depends},
Description: Qemu Server Tools
 This package contains the Qemu Server tools used by Proxmox VE
